body {
	font-family: "Source Sans Pro", sans-serif;
}

code, kbd, pre, samp {
	font-size: 0.8em;
}

.cover {
	padding-top: 5rem;
	padding-bottom: 5rem;

	background-image: url("../img/cover.png");
	background-size: cover;
	background-position-y: bottom;
}

.cover h1 {
	font-size: 3rem;
	font-weight: bold;
}

.cover p {
	font-size: 1.5rem;
}

.shadow {
	border-color: rgba(0, 0, 0, 0.03);
}